{% if content %}
  <div {{ attributes }}>
    <div id="{{ settings.section_id }}" class="uwcoe-stories-section" style="background-image: url({{ settings.background_url }});">
      {% if content.main %}
        <div {{ region_attributes.main.addClass('main-region') }}>
          {{ content.main }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}